body {
  background-color: #1a1a1a;
  color: #ffffff;
  overflow-x: hidden;
  height: 100%;
}

html {
  height: 100%;
  min-width: 320px;
  min-height: 480px;
}

/*Styles for testing element borders.*/
/* div,
button {
border-style: solid;
  border-width: 1px;
  border-color: #0000ff;
  border-style: dotted;
}*/

/*Holds everything in the banner section.*/
.banner {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 1450px;
  position: relative;
  background-color: #ffd4e1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.center-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.center-btn-wrapper {
  /*max-width: 62%;*/
  position: absolute;
  max-width: 57%;
  width: 285px;
  height: auto;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.center-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

.center-btn-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  z-index: 1;
}

.intro {
  font-size: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#intro-box {
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 1;
  color: #1a1a1a;
}

#button-desc {
  font-size: clamp(1.8rem, 8vw, 2.5rem);
}

.paw-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
  left: 0;
  z-index: 0;
}

.paw-img-wrapper {
  position: absolute;
  width: 100%;
  max-width: 466px;
  height: 100%;
  position: relative;
  align-items: center;
  display: flex;
}

#paw-img {
  margin-top: 190%;
  width: 100%;
  height: auto;
}

.paw-btn-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -38%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  transition: transform 0.5s ease;
}

.paw-btn-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;

  padding: 0;
  margin: 3%;
  /*Creates a border effect so that it mimics the borders for the baab artwork.
  background-color: #1a1a1a;*/
  border-radius: 50%;
}

/*Styles for the 'toe bean' buttons (about me, projects, artwork, contact).*/
.paw-btn {
  border-radius: 50%;
  border-color: #1a1a1a;
  border-style: solid;
  border-width: 0.35rem;
  background-color: #ff6b81;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  padding: auto;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  transform-origin: center center;
  will-change: transform;
}

/***Toe Bean Margins***
Sets individual margins for each 'toe bean' button, so that they are arranged in an arch. */
#about-me-btn,
#contact-btn {
  margin-top: 18%;
}

#projects-btn,
#artwork-btn {
  margin-top: -7%;
}

#about-me-btn {
  margin-left: 6%;
}

#projects-btn {
  margin-left: -2%;
}

#artwork-btn {
  margin-right: -2%;
}

#contact-btn {
  margin-right: 6%;
}

.menu-icon {
  width: 100%;
  height: auto;
}

.paw-btn:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #d3586c;
  animation: wiggle 1s ease-in infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fa-star {
  position: absolute;
  z-index: 5;
  color: #f1db18;
}

.small-star {
  /*font-size: clamp( 15rem, 80vw, 80vh);*/
  font-size: 1rem;
  animation: star-movement 0.7s infinite;
}

.big-star {
  font-size: 1.2rem;
  animation: star-movement 1s infinite;
}

/* Adjust the margins using percentages or relative units */
#small-star-1 {
  margin-top: -60%;
  margin-left: -70%;
}

#big-star-1 {
  margin-top: 40%;
  margin-left: 75%;
}

#small-star-2 {
  margin-top: -50%;
  margin-left: 65%;
}

#big-star-2 {
  margin-top: 40%;
  margin-left: -78%;
}

#small-star-3 {
  margin-top: -65%;
  margin-left: -55%;
}

#big-star-3 {
  margin-top: 65%;
  margin-left: 70%;
}

#small-star-4 {
  margin-top: -30%;
  margin-left: 80%;
}

#big-star-4 {
  margin-top: 65%;
  margin-left: -65%;
}

#about-me-btn i,
#projects-btn i,
#contact-btn i,
#artwork-btn i {
  opacity: 0;
}

#about-me-btn:hover i,
#projects-btn:hover i,
#contact-btn:hover i,
#artwork-btn:hover i {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

@keyframes star-movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

h1 {
  font-family: "rooney-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

/**************Navigation menu slide animations****************/
.slide-in {
  animation: slide-in-paw 1s forwards;
}

.slide-out {
  animation: slide-out-paw 1s forwards;
}

@keyframes slide-in-paw {
  0% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out-paw {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(1500px);
  }
}

/*************************************************************/

/************************************
Adjust the border width for smaller screens 



@media (min-width: 800px) {
  .paw-btn {
    border-width: .35rem; 
  }

  .big-star {}
}*/

@media screen and (max-width: 480px) {
  .paw-btn {
    border-width: 0.3rem;
  }
  .small-star {
    font-size: 0.9rem;
  }
  .big-star {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 440px) {
  .paw-btn {
    border-width: 0.3rem;
  }
  .small-star {
    font-size: 0.8rem;
  }
  .big-star {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .paw-btn {
    border-width: 0.25rem;
  }
  .small-star {
    font-size: 0.7rem;
  }
  .big-star {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .paw-btn {
    border-width: 0.25rem;
  }
  .small-star {
    font-size: 0.7rem;
  }
  .big-star {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 330px) {
  .paw-btn {
    border-width: 0.22rem;
  }
  .small-star {
    font-size: 0.6rem;
  }
  .big-star {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 300px) {
  .paw-btn {
    border-width: 1vmin;
  }
  .small-star {
    font-size: 0.5rem;
  }
  .big-star {
    font-size: 0.7rem;
  }
}

.bg {
  background-color: #ffd4e1 !important;
  /*background-image: linear-gradient(rgb(255, 155, 170), rgb(250, 255, 185));*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  max-height: 1450px;

  overflow: hidden;
}

.bg-area li {
  position: absolute;
  list-style: none;
  left: -30%;
  font-size: 6rem;
  animation: move-clouds 50s linear infinite;
  color: transparent;
  text-shadow: 0 0 1px #ffffff;
}

@keyframes move-clouds {
  0% {
    left: -30%;
  }
  100% {
    left: 100%; /* adjust for the width of the emoji */
  }
}

.bg-area li:nth-child(2) {
  top: 10%;
  font-size: 10rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bg-area li:nth-child(3) {
  top: 20%;
  font-size: 9rem;
  animation-delay: 4s;
  animation-duration: 35s;
}

.bg-area li:nth-child(4) {
  top: 30%;
  font-size: 9rem;
  animation-delay: 2s;
}

.bg-area li:nth-child(5) {
  top: 40%;
  font-size: 7rem;
  animation-delay: 6s;
  animation-duration: 45s;
}

.bg-area li:nth-child(6) {
  top: 50%;
  font-size: 15rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.bg-area li:nth-child(7) {
  top: 60%;
  font-size: 7rem;
  animation-delay: 3s;
}

.bg-area li:nth-child(8) {
  top: 70%;
  animation-delay: 4s;
  animation-duration: 30s;
}

.bg-area li:nth-child(9) {
  top: 80%;
  font-size: 8rem;
  animation-delay: 8s;
  animation-duration: 45s;
}

.bg-area li:nth-child(10) {
  top: 90%;
  animation-delay: 1s;
}

.main-content {
  color: #ffd4e1;
  display: flex;
}

.pixel-art {
  transform: translateY(-18px);
  margin-left: -6px;
}

.my-picture-col {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-picture-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 16px;
}

.my-picture-wrapper:hover {
  animation: popUp 0.3s forwards;
}

#my-picture {
  display: block;
  border-radius: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

#my-picture:hover {
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px 0px 0px #ff6b81;
}

@keyframes popUp {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-8px, -8px);
  }
}

.button {
  border-radius: 50%;
  border: 5.5px solid #1a1a1a;
  height: 100px;
  width: 100px;
  background-color: #ff6b81;
}

.button:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #d3586c;
}

.resume-line {
  background-color: #ff6b81;
  height: 2px;
  width: 100%;
  display: flex;
}

.resume-line-one {
  margin-left: 15px;
  display: flex;
}

.resume-line-two {
  margin-right: 15px;
  display: flex;
}

#resume-btn {
  align-items: center;
  background-color: #ff6b81;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
  position: relative;
  padding: 10px 20px;
  font-family: "moniker", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  transition: background-image 0.8s;
  width: 100%;
  white-space: nowrap;
}

#resume-btn:hover {
  transition: background-color 0.3s;
  background-color: #d43f58;
}

#resume-btn:hover i {
  animation: upDown 0.8s ease-in infinite;
}
#resume-btn i {
  padding-left: 10px;
  font-size: 24px;
  position: relative;
}

#resume-link {
  text-decoration: none;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(10%);
  }
  66% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.resume-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1rem;
}

.row-cols-1,
.row-cols-md-3 {
  padding-top: 0;
  margin-top: 0;
}

.section-title {
  font-family: moniker, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  padding-top: 1.5rem;
}

p,
li {
  font-family: "moniker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

.content-wrapper {
  padding-left: clamp(1rem, 15vw, 400px);
  padding-right: clamp(1rem, 15vw, 400px);
}

@media screen and (max-width: 430px) {
  .resume-line {
    display: none;
  }
  .pixel-art {
    display: none;
  }
}

#uni-link {
  text-decoration: none;
  color: #ff89ac;
  font-weight: bold;
  position: relative;
  display: inline; /* CHANGED from inline-block to inline */
  white-space: normal; /* Ensures it wraps normally with surrounding text */
  word-break: break-word; /* Ensures long links don’t overflow */
}

#uni-link:hover {
  color: #18c9f1;
}

#uni-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #18c9f1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  pointer-events: none; /* Avoid interaction issues */
}

#uni-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .technology-experience-section {
    flex-direction: column;
  }

  .technology-experience-section .col {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem; /* Optional: space between the two columns */
  }
}

.technologies {
  list-style-type: "⌲";
  margin-left: 10px;
}

.technologies li {
  padding-left: 10px;
  font-size: 18px;
}

.skill {
  margin-right: 50px;
  transition: transform 0.8s ease, background-color 0.8s ease;
}

.skill:hover {
  transform: translateX(30px) !important;
  background-color: #d3586c69;
  font-weight: 500;
}

.card {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #ff6b81;
}

.card:hover {
  /*background-color: #d3586c;*/
  background-image: linear-gradient(#d3586c, #d43f58);
  /*box-shadow: 0 5px 15px #973142;*/
  transition: transform 0.2s;
  transform: translateY(-7px);
}

.card:hover .project-icon {
  transition: transform 0.2s;
  transform: scale(1.15);
}

.card .fa-github,
.card .fa-up-right-from-square {
  text-decoration: none;
  color: #ffd4e1;
  font-size: 30px;
  padding-top: 0px;
  justify-content: right;
  margin-left: auto;
}

.card .fa-github:hover,
.card .fa-up-right-from-square:hover {
  color: #ffffff;
  transition: color 0.2s ease-in-out;
}

.card .fa-up-right-from-square {
  text-decoration: none;
  font-size: 25px;
  padding-top: 0px;
  margin-right: 2px;
}

.card-text {
  padding-bottom: 35px;
}

.card-links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.card-links-inner {
  display: flex;
  align-items: center;
}

.card-links a {
  display: inline-block;
  margin-left: 10px;
}

.card1 {
  transition-delay: 0.15s;
}
.card2 {
  transition-delay: 0.25s;
}
.card3 {
  transition-delay: 0.35s;
}
.card4 {
  transition-delay: 0.45s;
}
.card5 {
  transition-delay: 0.55s;
}
.card6 {
  transition-delay: 0.65s;
}

.hidden-card {
  transform: translateY(70px);
  opacity: 0;
  transition: 0.8s all ease;
  height: 0;

  overflow: hidden;
}

.hidden-card.active {
  transform: translateY(0);
  opacity: 1;
}

.card7 {
  transition-delay: 0.15s;
}
.card8 {
  transition-delay: 0.25s;
}
.card9 {
  transition-delay: 0.35s;
}

#hidden-projects {
  height: 0;
  margin-left: -12px;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden-projects-btn-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

#hidden-projects-btn {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 3.7px;
  border-radius: 4px;
  background-color: #242424;
  height: 60px;
  font-size: 20px;
  border-color: #ff6b81;
  color: #ff6b81;
  font-family: "moniker", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.5rem;
}

#hidden-projects-btn i {
  font-size: 18px;
  padding-left: 10px;
}

#hidden-projects-btn:hover {
  background-color: #652633;
  color: #ffd4e1;
  border-color: #ffd4e1;
  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    border-color 0.3s ease-in;
}

#hidden-projects-btn:hover i {
  animation: upDown 0.8s ease-in infinite;
}

.project-cards {
  padding-left: 20px;
  padding-right: 20px;
}

.g-4 {
  --bs-gutter-x: 0.7rem !important;
  --bs-gutter-y: 0.7rem !important;
}

.portfolio-art {
  border-radius: 16px;
}

/*position captions below images in carousel*/
.carousel {
  overflow: hidden;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
.carousel-caption {
  color: #ffd4e1;
  top: 100%;
}
.carousel-inner {
  overflow: visible;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 4rem;
}

/*for form:*/
input:focus,
textarea:focus {
  outline: none;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3586c;
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
}

#contact-form {
  width: 90%;
}

.form-wrapper label {
  text-align: left;
  width: 80%;
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea {
  width: 100%;
  margin-top: 5px;
  border-color: #d52e4a;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.form-wrapper input:focus,
.form-wrapper select:focus,
.form-wrapper textarea:focus {
  border-color: #18c9f1;
}

.form-title h5 {
  font-size: 30px;
}

.form-btn-wrapper,
.form-title {
  text-align: center;
  width: 100%;
}

.form-btn-wrapper button {
  width: 200px;
  height: 40px;
  background-color: #ffd4e1;
  color: #973142;
  border-radius: 8px;
  border: 0px;

  flex-shrink: 0;
  font-family: "moniker", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.form-btn-wrapper button:hover {
  /*background-image: linear-gradient(#f0a5b2, #f0778b);*/
  transition: background-color 0.3s, color 0.3s, box-shadow 0.5s;
  background-color: #f0a5b2;
  color: #ffffff;

  box-shadow: 0 5px 15px #973142;
}

.form-btn-wrapper button i {
  position: relative;
  font-size: 18px;
  padding-left: 10px;
}

.form-btn-wrapper button:hover i {
  animation: sideToSide 0.8s infinite alternate;
}

@keyframes sideToSide {
  from {
    left: 0px;
  }
  to {
    left: 5px;
  }
}

#submission-message {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-paper-plane {
  font-size: 60px;
}

.sub-msg-content {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: #f0778b;
}

.sub-msg-content li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-wrapper .input-icon {
  position: relative;
}

.form-wrapper .input-icon i {
  position: absolute;
  left: 10px;
  top: 40%;
  color: #f0a5b2;
}

.fa-message {
  top: 13% !important;
}

.thank-you-section {
  padding-top: 2rem;
}

.thank-you {
  text-align: center;
  justify-content: center;
  font-family: moniker, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

.thank-you i {
  font-size: 36px;
  padding-bottom: 30px;
}

.socials {
  text-align: right;
}

.socials i {
  padding-left: 10px;
}

footer {
  display: flexbox;
  color: #f0778b;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #f0778b;
}

footer p {
  font-size: 16px;
  margin-top: 10px;
  color: #f0778b;
}

.personal-email {
  text-align: center;
}

footer i {
  font-size: 40px;
}

footer i:hover {
  color: #d43f58;
  transition: color 0.2s ease-in-out;
}

/*scroll appearance*/
.reveal {
  transform: translateY(70px);
  opacity: 0;
  transition: 0.8s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
